.section-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.age {
  left: 43%;
  top:85%
}

@media only screen and (max-width: 1024px) {
  .section-intro {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  .section-intro {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 940px) {
  .section-intro h1 {
    font-size: 3rem;
    text-align: left;
  }
}

.section-intro h2 {
  font-size: 1.5rem;
  text-align: center;
}
@media only screen and (min-width: 940px) {
  .section-intro h2 {
    font-size: 2rem;
    text-align: left;
  }
}

.section-intro ul {
  padding: 0.8rem;
}

.section-intro li {
  font-size: 1.2rem;
  line-height: 1.8;
}

.section-intro .emoji {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 940px) {
  .section-intro .emoji {
    margin-right: 1rem;
  }
}

.avatar {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  padding: 0.5rem;
  opacity: 0.9;
  transition: opacity 700ms;
  margin-bottom: 1rem;
  background: linear-gradient(135deg, var(--primary), var(--secondary));
}
@media only screen and (min-width: 940px) {
  .avatar {
    width: 50vh;
    height: 50vh;
    margin-right: 3rem;
    margin-bottom: none;
  }
}
.avatar:hover {
  opacity: 1;
}
