@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(106, 62, 107);
  --secondary: rgba(101, 0, 254);
  --domain: rgba(74, 85, 104);
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
